<html>
<body>

<div  align="center" >
  <button class="w3-btn" mat-flat-button color="primary" (click)="adduser()" >add user</button>
  <button class="w3-btn" mat-flat-button color="primary" (click)="addcar()" >add car</button>
  <button class="w3-btn" mat-flat-button color="primary" (click)="addorder()" >add order</button>
  <button class="w3-btn" mat-flat-button color="primary" (click)="payback()" >payback</button>
  <!--  <button class="w3-btn" mat-flat-button color="primary" (click)="fixcar()" >fix car</button>-->

</div>


</body>
</html>
