<div align="center" >
<mat-form-field class="full-width">
    <input matInput placeholder="Name" [(ngModel)]="Data.name">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input mdInput type="number" matInput placeholder="Age" [(ngModel)]="Data.age">
  </mat-form-field>

  <mat-form-field class="full-width">
  <input matInput placeholder="Passport" [(ngModel)]="Data.passport">
</mat-form-field>

  <mat-form-field class="full-width">
    <mat-select placeholder="sex" name="genderName" [(ngModel)]="Data.genderSelect">
      <mat-option *ngFor="let gender of genders" [value]="gender.id">
        {{gender.gender}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button class="w3-btn" mat-flat-button color="primary" (click)="adduser()" >add user</button>

</div>

